<h1>Add a cocktail</h1>
<%= simple_form_for @cocktail do |f| %>
  <%= f.input :name %>
  <%= f.input :photo %>
  <%= f.input :photo_cache, as: :hidden %>
  <%= f.submit "Add!", class: "btn btn-primary" %>
<% end %>

<%= link_to '<i class="fa fa-undo" aria-hidden="true"></i> Back'.html_safe, root_path, class: "btn" %>
